body{
	font-family: "MyriadProRegular";
	font-size: 20px;
}
.conatiner-block{
	padding:50px 0 100px;
	width: 1190px;
	height: auto;
	margin:0 auto;
}
.col-block-4{
    width:40%;
    padding:20px 20px;
    height: auto;
}
.col-block-6{
	width:53%;
	padding:6px 20px;
	height: auto;
	display: inline-block;
	float: left;
}
.round_block{
	width:194px;
	height: 194px;
    border-radius: 97px;
    background-color: #3D6CB0;
    margin:0 auto;
}
.round_line{
	width:222px;
	height: 208px;
	border-radius: 111px;
	border:1px solid #3D6CB0;
	margin:0 auto;
	padding-top: 14px;
	
}
.name_here{
	margin:34px 0 0;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	line-height: 43px;
}
.surname{
    text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	font-family: "MyriadProBold";
	margin: 0px; 
	line-height: 30px;
	padding-top: 16px;
}
.three_text{
	font-size: 24px;
}
.block_left{
	margin-top:80px;
}
.img_profile{
	height: auto;
    max-width: 100%;
}
.profile{
	text-transform: uppercase;
	font-family: "MyriadProBold";
	font-size: 40px;
	color:#3D6CB0;
	padding-left: 20px;
}
.lol{
	display: inline-block;
	float: left;
}
p.lol{
	margin:10px 0 0 10px;
}
.lal{
    margin:20px 0 0 10px;
}
.line_block{
	width:160px;
	height: 5px;
	background-color: #3D6CB0;
	margin-top:34px;
	margin-left: 8px;
}
.text_article{
	font-size: 15px;
	padding-top:90px;
	padding-left: 20px;
	padding-right: 55px;
}
.bold_family{
	font-family: "MyriadProBold";
}
.contacts_block{
	margin-top:48px;
}
.first_col{
	color: #3D6CB0;
}
.block_tables{
	padding-top:109px;
    padding-left:20px;
}
.sec_col{
	padding-left: 28px;
}
.table_contacts td{
	padding-bottom: 38px;
}
.skills_block{
	margin-top:14px;
}
.skills_types{
	text-align: center;
	font-size: 24px;
	line-height: 17px;
}
.skills_types p{
	margin: 0;
}
.collect_balls{
	display: inline-block;
}
.balls{
	float: left;
    width:16px;
    height: 16px;
    background-color: #3D6CB0;
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 14px;
}
.balls_white{
    background-color: #E6E6E6;
}
.CREATIVE_block{
	padding-top:98px;
}
.team_block{
	padding-top:28px;
}
.master_p{
	font-size: 24px;
	color: #3D6CB0;
	margin:0;
	padding-left: 22px;
}
.master_p span{
	font-family: "MyriadProRegular";
	color:#000;
	padding-left:14px;
	font-size: 24px;
}
.block_master{
	padding-top:102px;
}
.round_black{
	width:18px;
	height: 18px;
	border-radius: 9px;
	background-color: #000;
	margin-top:6px;
}
.p_second_name{
	font-family: "MyriadProRegular";
	color:#000;
	font-size: 24px;
	padding-top: 12px;
	padding-left:40px;
	margin-bottom: 0;
}
.text_second{
	font-size: 15px;
	padding-left: 40px;
	padding-right: 15px;
	margin-top:10px;
}
.non_padding{
	padding:1px;
}
.experience_block{
	margin-top:42px;
}
.color_text{
	color:#000;
}
.padding_company{
	padding-top:114px;
}
.software_block{
	margin-top:54px;
}
.table_stata{
	width: inherit;
	padding-top:98px;
}
.block_down{
	width: 264px;
	height: 20px;
	background-color: #E6E6E6;
	position: relative;
}
.block_own{
	position: absolute;
	height: 100%;
	top:0;
	left:0;
	background-color: #3D6CB0;
}
.we_must{
	font-size: 24px;
	margin-top:0;
	margin-bottom: 10px;
}
.right_lol{
	padding-right: 52px;
}
#skills{
	width:184px
}
#profile{
	width:160px;
}
#contact{
	width:140px
}
#education{
	width:298px
}
#experience{
	width:298px
}
#software{
	width:298px
}
#must_6{
	width:240px
}
#must_5{
	width:150px
}
#must_4{
	width:164px
}
#must_3{
	width:186px
}
#must_2{
    width:120px
}
#must_1{
	width:240px
<<<<<<< HEAD
}
.float_class{
	display:inline-block;
	float: left;
}
.obram_block_ha{
	width:100%;
	height: auto;
	padding-bottom: 79px;
=======
>>>>>>> 05b005f58f0195c0cbc34e5f459e5d0d304025ff
}